body {
    font-family: Arial, sans-serif;
    background-color: #ff9c9c;
    text-align: center;
    margin-top: 50px;
}

.calculator {
    background-color: rgb(15, 2, 2);
    padding: 20px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

input, select, button {
    margin: 10px;
    padding: 8px;
    width: 200px;
}
